<!DOCTYPE html>
<html>
	<head>
		<title>MyBlog</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="Cache-Control" content="No-Cache" />
		<meta http-equiv="Pragma" content="No-Cache" />
		<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
		<link rel="stylesheet"  type="text/css" href="/static/css/bootstrap.min.css" />
		<link rel="stylesheet"  type="text/css" href="/static/css/bootstrap-custom.css" />
		<link rel="stylesheet"  type="text/css" href="/static/css/bootstrap-responsive.min.css" />
		<link rel="stylesheet"  type="text/css" href="/static/css/docs.css" />

		<script src="/static/js/jquery/jquery-1.10.2.js"></script>
		<script src="/static/js/bootstrap.min.js"></script>
	</head>

	<body>
		<!--Header Start-->
		<header>
			<div class="navbar navbar-inverse navbar-fixed-top">
				<div class="navbar-inner" style="padding-left:20px;">
					<div class="brand" style="float:left;">MyBlog-Dev.S</div>
					<div class="nav-collapse collapse">
						<ul class="nav"  style="float:right;">
							<li><a>Login Info: Admin</a></li>
							<li><a> | </a></li>
							<li><a href="">나의 정보</a></li>
							<li><a> | </a></li>
							<li><a href="">로그아웃</a></li>
						</ul>
					</div>
				</div>
			</div>
		</header>
		<!--Header End-->
		
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span2">
					<!--Left Start -->
					<ul class="nav nav-list well">
						<!--<li class="nav-header">컨텐츠 관리-->
							<ul> 
								<li class="tabLink"><a href="/member/memberList">Member</a></li> 
								<li class="tabLink"><a href="/article/articleList">Article</a></li>
								<li class="tabLink"><a href="/category/categoryList">Category</a></li>
								<li class="tabLink"><a href="/code/codeList">Code</a></li>
							</ul>
						<!--</li>-->
					</ul>
					<!--Left End-->
				</div>
				<div class="span10">
				{% block content %}{% endblock %}
				</div>
			</div>
		</div>
		<!--Footer Start -->
		<footer>
			<div class="container-fluid">
				<div class="row-fluid">
					<div class="row6" style = "text-align:center">&copy; 2012 Identity Games, All Rights Reserved &reg; // Made with <a href="http://twitter.github.com/bootstrap/" target="_blank"><strong>Bootstrap</strong></a>.</div>
				</div>
			</div>
		</footer>
		<!--Footer End -->
	</body>
</html>
